<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/fa/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/mui/css/mui.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/cart.css">
    <title>Title</title>
</head>
<body>
<div class="lt_layout">
    <div class="lt_header">
        <div class="lt_topLeft fa fa-arrow-left" onclick ="javascript:history.back()"></div>
        <h3 class="lt_top_text">
            购物车
        </h3>
        <span class="lt_top_right fa fa-refresh"></span>
    </div>
    <div class="lt_main" style="padding-bottom: 90px;">
        <div class="lt_parent">
            <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul id="OA_task_2" class="mui-table-view">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="createOrder">
        <span>订单总金额：￥0.00</span>
        <button class="mui-btn mui-btn-warning">生成订单</button>
    </div>
    <div class="lt_footer">
        <ul>
            <li class="">
                <a href="index.html">
                    <span class="fa fa-home"></span>
                    <p>首页</p>
                </a>
            </li>
            <li class="">
                <a href="category.html">
                    <span class="fa fa-bars"></span>
                    <p>分类</p>
                </a>
            </li>
            <li class="now">
                <a href="cart.html">
                    <span  class="fa fa-shopping-cart"></span>
                    <p>购物车</p>
                </a>
            </li>
            <li>
                <a href="user.html">
                    <span class="fa fa-user"></span>
                    <p>个人中心</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/template" id="cartTEMP">
    <%for(var i=0; i< items.length;i++){%>
    <li class="mui-table-view-cell">
        <div class="mui-slider-right mui-disabled">
            <a class="mui-btn mui-btn-blue" data-size="<%=items[i].size%>" data-num="<%=items[i].num%>"  data-productNum="<%=items[i].productNum%>" data-productSize="<%=items[i].productSize%>" data-id="<%=items[i].id%>">编辑</a>
            <a class="mui-btn mui-btn-danger" data-id="<%=items[i].id%>">删除</a>
        </div>
        <div class="mui-slider-handle">
            <div class="mui-table-cell mui-media">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" src="<%= items[i].pic[0].picAddr%>" onerror="javascript:this.src='./images/none.jpg'" style="width:80px;height:80px;max-width:80px">
                    <div class="mui-media-body">
                        <p  class="mui-ellipsis-2"><%= items[i].proName%></p>
                        <p class="cart-value">
                            <span class="cart-price">&yen;<%= items[i].price%></span>
                            <del>&yen;<%= items[i].oldPrice%></del>
                            <span class="cart-num">x<%= items[i].num%>双</span>
                        </p>
                        <p class="cart-size">鞋码：<%= items[i].size%></p>
                        <input type="checkbox" class="chk" data-price="<%= items[i].price%>" data-num="<%= items[i].num%>">
                    </div>
                </a>
            </div>
        </div>
    </li>
    <%}%>
</script>
<script type="text/template" id="editTEMP">
    <li>
        尺码：
        <%
        var arr = productsize.split("-");
        var start = arr[0];
        var end = arr[1];
        %>
        <% for(var i=start;i <= end;i++){%>
            <span class="proSize <%=i==size?'now':''%>"><%=i%></span>
        <%}%>
    </li>
    <li>
        数量：
        <div class="mui-numbox" data-numbox-min="1" data-numbox-max="<%=productnum%>">
            <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
            <input id="test" class="mui-input-numbox" type="number" value="<%=num%>">
            <button class="mui-btn mui-btn-numbox-plus" type="button" disabled="">+</button>
        </div>
    </li>
</script>
<script src="./assets/mui/js/mui.js"></script>
<script src="./assets/zepto/zepto.min.js"></script>
<script src="./assets/artTemplate/template-native.js"></script>
<script src="./js/common.js"></script>
<script src="./js/cart.js"></script>
</body>
</html>