<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/fa/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/mui/css/mui.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/category.css">
    <title>Title</title>
</head>
<body>
<div class="lt_layout">
    <div class="lt_header">
        <div class="lt_topLeft fa fa-arrow-left" onclick ="javascript:history.back()"></div>
        <form class="lt_top_text">
            <input type="text">
        </form>
        <a href="search.html" class="lt_top_right fa fa-search"></a>
    </div>
    <div class="loading"></div>
    <div class="lt_main">
        <div class="lt_parent">
            <div class="cat_left">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="cat_right">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lt_footer">
        <ul>
            <li class="">
                <a href="index.html">
                    <span class="fa fa-home"></span>
                    <p>首页</p>
                </a>
            </li>
            <li class="now">
                <a href="category.html">
                    <span class="fa fa-bars"></span>
                    <p>分类</p>
                </a>
            </li>
            <li>
                <a href="cart.html">
                    <span  class="fa fa-shopping-cart"></span>
                    <p>购物车</p>
                </a>
            </li>
            <li>
                <a href="user.html">
                    <span class="fa fa-user"></span>
                    <p>个人中心</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/template" id="firstCategory">
    <% for(var i=0;i < rows.length;i++){%>
        <li class="<%=i==0?'now':''%>">
            <a href="javascript:;" data-id="<%=rows[i].id%>"><%=rows[i].categoryName%></a>
        </li>
    <%}%>
</script>
<script type="text/template" id="secondCategory">
    <% if(total ==0) {%>
        <p>没有对应的二级分类数据</p>
    <%} else{%>
        <% for(var i=0;i < rows.length;i++){%>
            <li>
                <a href="javascript:;">
                    <img src="<%=rows[i].brandLogo%>" alt="">
                    <p><%=rows[i].brandName%></p>
                </a>
            </li>
        <%}%>
    <%}%>
</script>
<script src="./assets/mui/js/mui.js"></script>
<script src="./assets/zepto/zepto.min.js"></script>
<script src="./assets/artTemplate/template-native.js"></script>
<script src="./js/common.js"></script>
<script src="./js/category.js"></script>
</body>
</html>