<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="img/x-icon" rel="shortcut icon" href="./images/favicon.ico">
  <link rel="stylesheet" href="./assets/mui/css/mui.min.css">
  <link rel="stylesheet" href="./assets/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/classify.css">
  <title>Document</title>
</head>

<body>
  <div class="lt_layout">
    <div class="lt_header">
      <a href="javascript:history.back();" class="icon_back fa fa-arrow-left"></a>
      <form class="lt_search">
        <input type="text" name="" value="">
      </form>
      <a href="search.html" class="icon_search fa fa-search"></a>
    </div>
    <div class="lt_classsify_main">
      <div class="lt_classify_aside">
          <ul class="lt_classify_list">
          </ul>
      </div>
      <div class="lt_classify_content">
          <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                  <ul class="lt_content_list clearfix">
                    </ul>
              </div>
            </div>    
      </div>
    </div>
    <div class="lt_footer">
      <a href="index.html" class="tab_home fa fa-home">
        <span>首页</span>
      </a>
      <a href="classify.html" class="tab_cate fa fa-bars now">
        <span>分类</span>
      </a>
      <a href="javascript:;" class="tab_cart fa fa-shopping-cart">
        <span>购物车</span>
      </a>
      <a href="javascript:;" class="tab_user fa fa-user">
        <span>会员中心</span>
      </a>
    </div>
  </div>
  <script src="./assets/zepto/zepto.min.js"></script>
  <script src="./assets/mui/js/mui.min.js"></script>
  <script src="./assets/artTemplate/template-native.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/classify.js"></script>
  <script type="text/template" id="stairTemp">
    <% for(var i=0;i<rows.length;i++){%>
      <li class ="<%= i==0?'now':''%>" data-id="<%=rows[i].id%>"><%= rows[i].categoryName%></li>
    <%}%>
  </script>
  <script type="text/template" id="secondTemp">
    <%if(rows.length==0){%>
       <span>没有商品信息..</span>
    <%}else{%>
      <%for(var i=0;i<rows.length;i++){%>
        <li>
          <a href="javascript:;">
            <img src=<%= rows[i].brandLogo%> alt="">
            <p><%= rows[i].brandName%></p>
          </a>
        </li>
      <%}%>
      <%}%>
  </script>
</body>

</html>