<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="img/x-icon" rel="shortcut icon" href="./images/favicon.ico">
  <link rel="stylesheet" href="./assets/mui/css/mui.min.css">
  <link rel="stylesheet" href="./assets/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/search.css">
  <title>Document</title>
</head>

<body>
  <div class="lt_layout">
    <div class="lt_header">
      <a href="javascript:history.back();" class="icon_back fa fa-arrow-left"></a>
      <span>搜索中心</span>
    </div>
    <div class="lt_search">
      <div class="lt_search_box">
          <form>
              <input type="text" name="" value="" placeholder="搜索你喜欢的商品">
           </form>
            <a href="#" class="search_btn">搜索</a>
      </div>
    </div>
    <div class="lt_search_info">
      <div class="info_title">
        <span>搜索历史</span>
        <span class="icon_clear fa fa-trash">清空记录</span>
      </div>
      <div class="search_content">
        <ul>
          <!-- <li><a href="javascript:void(0)">1</a><span class="icon_delete fa fa-close"></span></li> -->
        </ul>
      </div>
    </div>
    <div class="lt_footer">
      <a href="javascript:;" class="tab_home fa fa-home now">
        <span>首页</span>
      </a>
      <a href="classify.html" class="tab_cate fa fa-bars">
        <span>分类</span>
      </a>
      <a href="javascript:;" class="tab_cart fa fa-shopping-cart">
        <span>购物车</span>
      </a>
      <a href="javascript:;" class="tab_user fa fa-user">
        <span>会员中心</span>
      </a>
    </div>
  </div>
  <script type="text/template" id="historyTemp">
    <%if(items.length==0){%>
      <span>没有历史记录</span>
    <%}else{%>
      <%for(var i=items.length-1;i>=0;i--){%>
        <li><a href="search_list.html?proname=<%=items[i]%>"><%= items[i]%></a><span class="icon_delete fa fa-close" data-index="<%= i%>"></span></li>
      <%}%>
    <%}%>
  </script>
  <script src="./assets/zepto/zepto.min.js"></script>
  <script src="./assets/mui/js/mui.min.js"></script>
  <script src="./assets/artTemplate/template-native.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/search.js"></script>
</body>

</html>