<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/admin.css">
    <!-- <link rel="stylesheet" href="./css/userManage.css"> -->
    <title>Document</title>
</head>

<body>
    <div class="aside">
        <a href="javascript:;" class="lt_logo">ITCAST</a>
        <p class="superManager">
            <img src="./images/default.png" alt="">&nbsp;&nbsp;超级管理员
        </p>
        <div class="lt_nav">
            <ul>
                <li>
                    <a href="userManage.html" class="glyphicon glyphicon-user">用户管理</a>
                </li>
                <li class="classify">
                    <a href="javascript:;" class="glyphicon glyphicon-list">分类管理</a>
                    <p><a href="categoryFirst.html">一级分类</a></p>
                    <p><a href="categorySecond.html">二级分类</a></p>
                </li>
                <li>
                    <a href="javascript:;" class="glyphicon glyphicon-tags">商品管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main_top">
            <a href="javascript:;" class="glyphicon glyphicon-align-justify change_menu"></a>
            <a href="javascript:;" class="glyphicon glyphicon-log-out login_out"></a>
        </div>
        <div class="main_content">
            <ol class="breadcrumb">
                <li>
                    <a href="#">管理系统</a>
                </li>
                <li class="active">用户管理</li>
            </ol>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>用户名</th>
                        <th>电话</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>itcast</td>
                            <td>15102324243</td>
                            <td>已启用</td>
                            <td>
                                <button class="btn btn-danger">禁用</button>
                            </td>
                        </tr>
                    </tbody>

            </table>
            <!-- 分页 -->
            <ul class="mypagintor"></ul>
        </div>
    </div>
    <!-- 模态框部分 -->
    <div class="modal_box">
    </div>
    <script type="text/template" id="userMangeTem">
        <%for(var i=0;i< rows.length;i++){%>
            <tr>
                <td><%= rows[i].id%></td>
                <td><%= rows[i].username%></td>
                <td><%= rows[i].mobile%></td>
                <td class="status"><%= rows[i].isDelete==0?'已启用':'已禁用'%></td>
                <td>
                    <%if(rows[i].isDelete==0){%>
                        <button class="btn btn-danger" data-id="<%=rows[i].id%>">禁用</button>
                    <%}else{%>
                        <button class="btn btn-success" data-id="<%=rows[i].id%>">启用</button>
                    <%}%>
                </td>    
         </tr>
         <%}%>

  </script>
    <script src="./assets/jquery/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/echarts/echarts.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <script src="./js/admin.js"></script>
    <script src="./js/userManage.js"></script>
</body>

</html>