.lt_header {
  text-align: center;
}
.lt_header a {
  position: absolute;
}
.lt_header a.icon_home {
  top: 0;
  right: 0;
}
.description {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.price {
  padding: 10px 0 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.price span {
  font-size: 30px;
  color: #eb5d47;
  vertical-align: middle;
}
.price del {
  color: #ccc;
  font-size: 12px;
  vertical-align: middle;
  font-size: 18px;
}
.size_box {
  font-size: 13px;
}
.size_box span {
  margin-top: 10px;
  font-size: 16px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 25px;
}
.size_box span.now {
  background-color: orange;
}
.lt_footer {
  background-color: #ccc;
}
.lt_footer a {
  font-size: 26px;
  color: #333;
}
.lt_footer button {
  float: right;
  margin-top: 4px;
  padding: 8px 20px;
}
